<!DOCTYPE html>
<html>
    <head>
        <%-include("par/key_head.ejs")%>
    </head>
    <body>
        <%-include("par/logo.ejs")%>
        <h1><%=mensagem%></h1><br>
        <ul id="inserir-buscar">
            <div id ="inserir">
                <li><a href="/hashes/inserir_hash"><img src="inserir.webp"></a></li>
            </div>
            <div id ="buscar">
                <li><a href="/hashes/buscar_hash"><img src="buscar.webp"></a></li>
            </div>
        </ul>
        <%-include("par/voltar.ejs")%>
    </body>
</html>
