<!DOCTYPE html>
<html>
    <head>
        <%-include("par/conjuntos_head.ejs")%>
    </head>
    <body>
        <%- include ("par/logo.ejs") %>
        <h1><%=mensagem_resultado%></h1>
        
    </body>
    <%-include ("par/voltar_inicio.ejs")%>
</html>
